/* centraliza */
main {
  max-width: 700px;
  width: 100%;
  margin: 30px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* barra navegacao */
mat-toolbar {
  background-color: #ffffff !important;
  border-bottom: 3px solid var(--cor-primaria) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px !important;
  height: 70px !important;
  font-family: 'Fredoka', sans-serif !important;
}


mat-toolbar span {
  color: #ff9aa2 !important;
  font-size: 1.5rem;
  font-weight: bold;
}


.espacador {
  flex: 1 1 auto;
}

/* botoes normais */
mat-toolbar a[mat-button] {
  font-family: 'Quicksand', sans-serif !important;
  color: var(--cor-texto) !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  margin-left: 8px;
  border-radius: 20px !important;
  transition: all 0.2s ease-in-out;
}

mat-toolbar a[mat-button]:hover {
  background-color: #fff0f2 !important;
  color: #ff9aa2 !important;
}

/* estilo botao */
.link-ativo {
  background-color: #ff9aa2 !important;
  color: #ffffff !important;
  box-shadow: 0 4px 0px #e09f9a;
}

/* mat-cards */
mat-card {
  background: #ffffff !important;
  border: 3px solid var(--cor-primaria) !important;
  border-radius: 24px !important;
  box-shadow: 0 8px 16px rgba(255, 183, 178, 0.2) !important;
  padding: 25px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: var(--cor-texto) !important;
}

/* títulos dentro das caixas */
mat-card h2, mat-card-title {
  font-family: 'Fredoka', sans-serif !important;
  color: #ff9aa2 !important;
  font-size: 1.8rem !important;
  margin-bottom: 15px !important;
}

/* rodape */
footer {
  text-align: center;
  margin-top: 40px;
  font-family: 'Quicksand', sans-serif;
  color: var(--cor-texto);
  opacity: 0.7;
  font-size: 0.9rem;
}